openapi: 3.2.0
info:
  title: Aladdin Graph Securities API
  description: The Aladdin Graph API provides RESTful access to portfolio data, securities, positions, risk analytics, and Aladdin platform capabilities. Powers the AladdinSDK Python client with OpenAPI-generated bindings for institutional asset managers, risk teams, and quantitative researchers.
  version: 1.0.0
  contact:
    name: Aladdin Studio
    url: https://www.blackrock.com/aladdin/products/apis
  license:
    name: Proprietary
    url: https://www.blackrock.com/aladdin/products/aladdin-studio
  x-generated-from: documentation
servers:
- url: https://api.blackrock.com/v1
  description: Aladdin API production server
security:
- OAuth2: []
- BasicAuth: []
tags:
- name: Securities
  description: Security reference data and classification
paths:
  /securities/{securityId}:
    get:
      operationId: getSecurity
      summary: Aladdin Studio Get Security
      description: Retrieve security reference data for a given identifier including name, asset class, sector, country, and other classification attributes.
      tags:
      - Securities
      parameters:
      - name: securityId
        in: path
        required: true
        description: Security identifier (ISIN, CUSIP, SEDOL, or internal ID)
        schema:
          type: string
          example: US0378331005
      - name: idType
        in: query
        description: Type of security identifier provided
        schema:
          type: string
          enum:
          - ISIN
          - CUSIP
          - SEDOL
          - INTERNAL
          example: ISIN
      responses:
        '200':
          description: Security reference data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security'
              examples:
                getSecurity200Example:
                  summary: Default getSecurity 200 response
                  x-microcks-default: true
                  value:
                    securityId: US0378331005
                    name: Apple Inc
                    ticker: AAPL
                    assetClass: Equity
                    sector: Technology
                    country: US
                    currency: USD
        '404':
          description: Security not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Security:
      title: Security
      type: object
      description: Security reference data from Aladdin
      properties:
        securityId:
          type: string
          description: Internal Aladdin security identifier
          example: US0378331005
        name:
          type: string
          description: Security full name
          example: Apple Inc
        ticker:
          type: string
          description: Exchange ticker symbol
          example: AAPL
        isin:
          type: string
          description: ISIN identifier
          example: US0378331005
        cusip:
          type: string
          description: CUSIP identifier
          example: 037833100
        assetClass:
          type: string
          description: Asset class classification
          example: Equity
        sector:
          type: string
          description: GICS sector
          example: Technology
        country:
          type: string
          description: Country of domicile ISO code
          example: US
        currency:
          type: string
          description: Trading currency ISO code
          example: USD
        exchange:
          type: string
          description: Primary exchange
          example: NASDAQ
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication supporting client_credentials and refresh_token flows
      flows:
        clientCredentials:
          tokenUrl: https://api.blackrock.com/oauth/token
          scopes:
            portfolio:read: Read portfolio data
            risk:read: Read risk analytics
            trading:read: Read trading data
            trading:write: Create and manage orders
        authorizationCode:
          authorizationUrl: https://api.blackrock.com/oauth/authorize
          tokenUrl: https://api.blackrock.com/oauth/token
          scopes:
            portfolio:read: Read portfolio data
            risk:read: Read risk analytics
    BasicAuth:
      type: http
      scheme: basic
      description: Basic authentication using API token and user credentials
