openapi: 3.0.3
info:
  title: Aladdin Investment Research API
  description: >-
    The Aladdin Investment Research API provides access to research data,
    analyst insights, and quantitative analytics built on Aladdin's data
    infrastructure. Available via the asdk_plugin_investment_research Python package.
  version: 1.0.0
  contact:
    name: Aladdin Studio
    url: https://www.blackrock.com/aladdin/products/apis
  license:
    name: Proprietary
    url: https://www.blackrock.com/aladdin/products/aladdin-studio
  x-generated-from: documentation
servers:
  - url: https://api.blackrock.com/research/v1
    description: Aladdin Investment Research API server
security:
  - OAuth2: []
paths:
  /securities/{securityId}/research:
    get:
      operationId: getSecurityResearch
      summary: Aladdin Studio Get Security Research
      description: >-
        Retrieve investment research data for a specific security including
        analyst ratings, price targets, and research notes.
      tags:
        - Research
      parameters:
        - name: securityId
          in: path
          required: true
          description: Security identifier (ISIN or internal ID)
          schema:
            type: string
            example: US0378331005
      responses:
        '200':
          description: Security research data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityResearch'
              examples:
                getSecurityResearch200Example:
                  summary: Default getSecurityResearch 200 response
                  x-microcks-default: true
                  value:
                    securityId: US0378331005
                    ticker: AAPL
                    rating: buy
                    priceTarget: 225.00
                    analystCount: 42
                    consensusDate: "2026-04-19"
        '404':
          description: Security not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /portfolios/{portfolioId}/analytics:
    get:
      operationId: getPortfolioAnalytics
      summary: Aladdin Studio Get Portfolio Analytics
      description: >-
        Retrieve investment analytics for a portfolio including attribution,
        performance metrics, and factor analysis.
      tags:
        - Analytics
      parameters:
        - name: portfolioId
          in: path
          required: true
          description: Portfolio identifier
          schema:
            type: string
            example: PF-123456
        - name: fromDate
          in: query
          description: Start date for analytics period (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: "2026-01-01"
        - name: toDate
          in: query
          description: End date for analytics period (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: "2026-04-19"
      responses:
        '200':
          description: Portfolio analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioAnalytics'
              examples:
                getPortfolioAnalytics200Example:
                  summary: Default getPortfolioAnalytics 200 response
                  x-microcks-default: true
                  value:
                    portfolioId: PF-123456
                    fromDate: "2026-01-01"
                    toDate: "2026-04-19"
                    totalReturn: 0.0485
                    excessReturn: 0.0132
                    informationRatio: 0.85
        '404':
          description: Portfolio not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for research data access
      flows:
        clientCredentials:
          tokenUrl: https://api.blackrock.com/oauth/token
          scopes:
            research:read: Read research data
            analytics:read: Read analytics data
  schemas:
    SecurityResearch:
      title: SecurityResearch
      type: object
      description: Investment research data for a security
      properties:
        securityId:
          type: string
          description: Security identifier
          example: US0378331005
        ticker:
          type: string
          description: Ticker symbol
          example: AAPL
        rating:
          type: string
          description: Analyst consensus rating
          enum:
            - buy
            - hold
            - sell
          example: buy
        priceTarget:
          type: number
          description: Consensus price target
          example: 225.00
        analystCount:
          type: integer
          description: Number of analysts covering the security
          example: 42
        consensusDate:
          type: string
          format: date
          description: Date of consensus calculation
          example: "2026-04-19"
    PortfolioAnalytics:
      title: PortfolioAnalytics
      type: object
      description: Investment analytics and performance metrics for a portfolio
      properties:
        portfolioId:
          type: string
          description: Portfolio identifier
          example: PF-123456
        fromDate:
          type: string
          format: date
          description: Analytics period start date
          example: "2026-01-01"
        toDate:
          type: string
          format: date
          description: Analytics period end date
          example: "2026-04-19"
        totalReturn:
          type: number
          description: Total portfolio return for the period
          example: 0.0485
        excessReturn:
          type: number
          description: Excess return vs benchmark
          example: 0.0132
        informationRatio:
          type: number
          description: Information ratio for the period
          example: 0.85
        sharpeRatio:
          type: number
          description: Sharpe ratio for the period
          example: 1.24
tags:
  - name: Research
    description: Investment research data and analyst ratings
  - name: Analytics
    description: Portfolio performance and attribution analytics
